<%= link_to "Back", :back, class:"btn btn-secondary mb-3" %>
<div class="card border-0">
  <div class="card-body pt-5">
    <div class="card-header">
      <div class="d-flex justify-content-between">
        <small>
          By <strong><%= @post.author.first_name %> <%= @post.author.last_name %></strong>
        </small>
        <% if @post.published? %>
          <small>
            <b>Published</b> about <%= time_ago_in_words(@post.published_at) %> ago
          </small>
        <%else%>
          <small>Not published yet</small>
        <%end%>
      </div>
    </div>
    <div class="card-header">
      <h1 class="card-title"><%= @post.title%></h1>
      <h6 class="card-title"><%= @post.description%></h6>
    </div>
    <div class="mb-3 p-3">
      <div class="">
        <%= @post.content%>
      </div>
    </div>
  </div>
</div>
