<div class="card mt-3 rounded">
  <div class="card-header d-flex justify-content-between">
    <% if comment.author == current_author %>
      <small>You</small>
    <%else%>
      <small>
        <strong><%= comment.author.first_name %> <%= comment.author.last_name %></strong>
      </small>
    <% end %>
    <span>
      <small><%= time_ago_in_words(comment.created_at)%> ago</small>
    </span>
  </div>
  <div class="card-body rounded-bottom">
    <div class="mb-3">
      <%= comment.content%>
    </div>
    <div class="mb-1 d-flex justify-content-between text-center">
      <span class="d-flex">
        <small class="mr-2">
          <%= render 'likes/button', likeable: comment %>
          </small>
        <% if comment.parent_id.nil? %>
          <small class="comment-form-display mr-2 height-0 btn btn-primary">
            <a href="#" class="text-decoration-none text-white">Reply</a>
          </small>
          <div class="comment-form">
            <%= render partial: 'readers/comments/form', locals: {post: comment.post, parent: comment} %>
          </div>
        <% end %>
      </span>
      <span>
         <%= render 'reports/button', reportable: comment %>
        <span>
        </div>
        <div class="mb-6 ">
          <span class="d-flex ">
            <small class="mr-2 text-center" >
              <%= pluralize(comment.likes.count, "Like")%>
            </small>
            <% if comment.parent_id.nil? %>
              <small>
                <%= pluralize(comment.comments.count, "Reply")%>
              </small>
            <% end %>
          </span>
          <span></span>
        </div>
        <div class="pl-4">
          <%= render comment.comments.includes(:author).order(:id) %>
        </div>
      </div>
    </div>
