<h4 class="d-flex justify-content-between mb-4">
  <span>
    <%= link_to "Back", :back, class:"btn btn-secondary mt-auto mb-3"%>
  </span>
  <span class="d-flex ">
    <% if !@post.published? %>
      <%= link_to "Approve", publish_post_moderator_path(@post), method: :put, class:"btn btn-success mt-auto mr-2"%>
      <%= link_to "Reject", post_path(@post), class: "btn btn-danger mt-auto btn-block", data: { turbo_method: :delete,
        turbo_confirm: "Are you sure?" } %>
    <%else%>
      <%= link_to "Unpublish", publish_post_moderator_path(@post), method: :put, class:"btn btn-secondary mt-auto mb-3 mr-2"%>
      <%= link_to "Delete", post_path(@post), class: "btn btn-danger mt-auto mb-3", data: { turbo_method: :delete,
    turbo_confirm: "Are you sure?" } %>
    <%end%>
  </span>
</h4>
<%= render 'shared/post', post: @post  %>
