<!DOCTYPE html>
<html>
  <head>
    <title>InfinityBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tag %>
  </head>
  <body class="container mt-5">
    <%= render partial: 'shared/alerts' %>
    <%= yield %>
  </body>
</html>
